<!DOCTYPE html>
<html lang="en">
<body>

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="/home/index" class="nav-link">
                    <i class="icon icon-home"></i> Home
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-login"></i> Layin <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="/home/enter" class="nav-link">
                            <i class="icon icon-list" id="enterdetailed"></i> detailed
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-fixed-sidebar.html" class="nav-link">
                            <i class="icon icon-eye"></i> Record
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-logout"></i> Layout <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="/home/sell" class="nav-link">
                            <i class="icon icon-list" id="selldetailed"></i> detailed
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-fixed-sidebar.html" class="nav-link">
                            <i class="icon icon-eye"></i> Record
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>